body{
    background-color: black;
}
.mytitle{
    color: red;
    text-align: center;
}
.card {
    background-color: black;
    background-image: url(https://wpamelia.com/wp-content/uploads/2019/02/7644.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 310px;
    height: 270px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(165, 165, 165);
}
.card img {
    width: 154px;
    height: 268px;
    align-self: left;
    margin:0;
    border-radius: 10px;

  }
.card-body{
    margin-top: 15px;
    width: 150px;
    height: 200px;
    padding: 0px;
}
.card:hover,
.card:focus {
box-shadow: 0 0.9em 0.9em -0.4em rgb(62, 63, 60);
transform: translateY(-0.70em);
border-width:2px;
border-style:solid;
}
.result{
padding: 1%;
/* margin-top:1%;
margin-left:15%; */
}
